# Flutter & Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# OS and IDE
.DS_Store
Thumbs.db
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Python & Node
__pycache__/
*.pyc
node_modules/
.env
